# Crap
.DS_Store
.log
/*.zip

# Composer
composer.lock
vendor/

# Node
node_modules

# Codekit
codekit-config.json
.codekit-cache

# Editors
*.sublime-project
*.sublime-workspace
*.idea
.idea
.idea/*
*.tar.gz