	
	@media screen (max-width: 959px) {

	}

	@media screen and (min-width: 768px) and (max-width: 959px) {

		body{ background: gray; }

	}

	@media screen (max-width: 767px) {

	}

	@media screen and (min-width: 480px) and (max-width: 767px) {

		body{ background: green; }

	}

	@media screen and (max-width: 479px) {

		body{ background: red; }

	}